<!-- header.html -->
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/components/header/header.css">
</head>
<nav>
    <a href="/frontend/pages/home/home.html">Início</a>
    <a href="/frontend/pages/livro/livro.html">Livros</a>
    <a href="/frontend/pages/eventos/eventos.html">Eventos</a>
    <a href="/frontend/pages/Minhas Compras/compras.html">Formas de Pagamento</a>
    <a href="/frontend/pages/estoque/estoque.html">Estoque</a>

</nav>

</html> 
